*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--cube-size: 25vmax;
	--light-hue: 200deg;
	--light-saturation: 10%;
	--light-power: 10%;
	--faces-transparency: 30%;

	block-size: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	min-block-size: 100vh;
	margin: 0;
	font-family: 'PT Mono', monospace;
	overflow: hidden;

	background-color: hsl(var(--light-hue) var(--light-saturation) var(--light-power));
}

a[href] {
	--light-hue: 250deg;
	--light-saturation: 50%;
	--light-power: 50%;

	--color-1: hsl(calc(var(--light-hue) + 20deg) var(--light-saturation) var(--light-power));
	--color-2: hsl(calc(var(--light-hue) - 40deg) var(--light-saturation) var(--light-power));

	text-decoration: none;
	color: aliceblue;

	background-image: linear-gradient(to right, var(--color-1) 20%, var(--color-2));
	background-size: 200% 0.4rem;
	background-position-x: 0;
	background-position-y: 100%;
	background-repeat: no-repeat;

	transition: .3s background-position-x ease-in-out;
}

a[href]:focus,
a[href]:hover {
	background-position-x: 100%;
}

a[target="_blank"]::after {
	content: url("assets/new-tab.svg");
	display: inline-flex;
	align-items: center;
	width: 1.8rem;
	height: 1.8rem;
	padding-left: 0.4rem;
}

.grid {
	display: grid;
	place-items: center;
	min-block-size: 100vh;
	perspective: 100vmax;
}

@media (min-width: 769px) {
	.grid {
		grid-template-columns: 1fr 40vmax;
	}
}

.grid__column {
	display: grid;
	padding: 2rem;
}

@media (max-width: 768px) {
	.grid__column--content-left {
		align-items: start;
		justify-items: center;
	}
}

.cube {
	--cube-half: calc(var(--cube-size) / 2);
	--cube-z: calc(var(--cube-half) * -1);
	--light: var(--light-hue) var(--light-saturation) calc(var(--light-power) + 20%);
	--surface: var(--light-hue) var(--light-saturation) var(--light-power);

	width: var(--cube-size);
	height: var(--cube-size);
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(var(--cube-z));
	animation: rotation 60s infinite linear;
	animation-fill-mode: forwards;
}

.cube__side {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 3vmax -2vmax hsl(0deg 0% 100% / max(50%, var(--light-saturation)));
	background-image: linear-gradient(
			45deg,
			hsl(var(--surface)),
			hsl(var(--light) / var(--faces-transparency))
	);
}

.cube__side-front  { transform: rotateY(0)      translateZ(var(--cube-half)); }
.cube__side-right  { transform: rotateY(90deg)  translateZ(var(--cube-half)); }
.cube__side-back   { transform: rotateY(180deg) translateZ(var(--cube-half)); }
.cube__side-left   { transform: rotateY(-90deg) translateZ(var(--cube-half)); }
.cube__side-top    { transform: rotateX(90deg)  translateZ(var(--cube-half)); }
.cube__side-bottom { transform: rotateX(-90deg) translateZ(var(--cube-half)); }


/* Cube animation */
@keyframes rotation {
	0% {
		transform: translateZ(var(--cube-z)) rotateY(0deg) rotateZ(0deg);
	}

	25% {
		transform: translateZ(var(--cube-z)) rotateY(-90deg) rotateZ(90deg);
	}

	50% {
		transform: translateZ(var(--cube-z)) rotateY(-180deg) rotateZ(-90deg);
	}

	75% {
		transform: translateZ(var(--cube-z)) rotateY(90deg) rotateZ(180deg);
	}
}

.info {
	color: aliceblue;
}

.info__title {
	margin: 0 0 4rem;
	font-size: clamp(4rem, 5vw, 8rem);
	line-height: 1;
}

.info__block {
	font-size: clamp(1.4rem, 1.8vw, 2rem);
}

.info__block p {
	margin: 0 0 1rem;
}


